<!DOCTYPE html>
<html>
<head>
    <title>Career Guidance</title>
</head>

<body>

    <h1>Career Guidance</h1>

    <form method="get" action="/careers">
        <input type="text" name="q" placeholder="Search title, sector, code..." value="{{ q or '' }}">
        <button type="submit">Search</button>
    </form>

    {% for row in data %}

    <div class="career-card">

        <h2>{{ row["career_title"] }}</h2>

        <p>
            <strong>O*NET-SOC Code:</strong>
            {{ row["onet_soc_code"] }}
        </p>

        <p>
            <strong>Sector:</strong>
            {{ row["sector"] }}
        </p>

        <p>
            <strong>Salary:</strong>
            {{ row["salary_range"] }}
        </p>

        <p>
            <strong>Demand:</strong>
            {{ row["demand_level"] }}
        </p>

        <p>
            <strong>Skills:</strong>
            {{ row["important_skills"] }}
        </p>

        <p>
            {{ row["short_description"] }}
        </p>

    </div>

    <hr>

    {% else %}
    <p>No careers found.</p>
    {% endfor %}

</body>
</html>
